// Theme Colors
$theme-green-1: #4b7f52;
$theme-green-2: #5d7334;
$theme-green-3: #38613B;
$theme-yellow: #ffd639;
$theme-gold: #DA932F;
$theme-offwhite: #f5f5f5ff;
$theme-white: #ffffff;
$theme-lightgray: #c6d3c7;
$theme-gray: #5d635d;
$theme-black: #161718;

// Text Colors
$text-light-2: #999999;
$text-light-1: #777777;
$text-medium-2: #555555;
$text-medium-1: #333333;
$text-dark-2: #111111;
$text-dark-1: #000000;

// Media query variables
$small-phone-up: "screen and (min-width: 420px)";
$medium-phone-up: "screen and (min-width: 600px)";
$large-phone-up: "screen and (min-width: 720px)";
$tablet-up: "screen and (min-width: 1100px)";

// Text stuff
$font-size__base: 1.8rem;
$font-size__large: 2.2rem;

// Layout
$container__max-width--small: 540px;
$container__max-width--medium: 680px;
$container__max-width--large: 840px;
$container__max-width--xlarge: 1120px;
$container__max-width--xxlarge: 1280px;

$post__max-width: $container__max-width--medium;
$post__max-width--desktop: $container__max-width--large;
