@import '../styles/global.scss';

.container {
  max-width: 40rem;
  padding: 0 1rem;
  // margin: 3rem auto 6rem auto;
  font-family: PlayfairDisplay-Regular;
  background-color: var(--color-page-background);
  color: var(--color-text);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Sarabun-Regular;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 3rem 0 0;
}

/**
 *
 * Media Query Section
 *
 */

@media #{$large-phone} {
  .container {
    margin: 2rem auto 4rem auto;
  }
}