@import '../styles/global.scss';

.container {
  max-width: 100%;
  padding: 0 1rem 2rem 1rem;
  // margin: 3rem auto 6rem auto;
  font-family: PlayfairDisplay-Regular;
  background-color: var(--color-page-background);
  color: var(--color-text);
  // color smooth on theme toggle
  -webkit-transition: 1s ease-in;
  -ms-transition: 1s ease-in;
  transition: 1s ease-in;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Sarabun-Regular;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.main {
  max-width: 60rem;
  margin: 0 auto;
}

.backToHome {
  margin: 3rem 0 0;
}

/**
 *
 * Media Query Section
 *
 */
@media #{$tablet} {
  .main {
    max-width: 40rem;
  }
}

@media #{$large-phone} {
  .container {
    padding: 1rem auto 4rem auto;
  }
}