@use '../styles/abstracts/variables' as *;

.menu {
  list-style-type: none;
  padding: 0;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  text-align: center;

  & a:link {
    text-decoration: none;
  }
  // all of the list item links
  & li a {
    display: block;
    padding: 10px;
    color: var(--color-text);
  }
  // styles for all of the list item links besides the menu-title
  & li:not(.menu_title) a:hover  {
    border-bottom: 1px solid var(--color-accent);
  }
}

.menu_title {
  /* Shorthand for flex-grow, flex-shrink, and flex-basis */
  flex: 1 1 100%;
}

@media #{$large-phone-up} {
  // Wrap the Links on Mobile
  .menu {
    flex-wrap: nowrap;
    text-align: left;
  }

  .menu_title {
    flex: 2 1 200px;
  }
}

@media #{$tablet-up} {
  .menu {
    width: 80%;
  }
}