// Sarabun
@font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../../fonts/sarabun/sarabun-v13-latin-regular.woff2') format('woff2'),
        url('../../fonts/sarabun/sarabun-v13-latin-regular.woff') format('woff'),
        url('../../fonts/sarabun/sarabun-v13-latin-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Sarabun';
    font-style: italic;
    font-weight: 400;
    src: local(''),
        url('../../fonts/sarabun/sarabun-v13-latin-italic.woff2') format('woff2'),
        url('../../fonts/sarabun/sarabun-v13-latin-italic.woff') format('woff'),
        url('../../fonts/sarabun/sarabun-v13-latin-italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../../fonts/sarabun/sarabun-v13-latin-700.woff2') format('woff2'),
        url('../../fonts/sarabun/sarabun-v13-latin-700.woff') format('woff'),
        url('../../fonts/sarabun/sarabun-v13-latin-700.ttf') format('truetype');
}

@font-face {
    font-family: 'Sarabun';
    font-style: italic;
    font-weight: 700;
    src: local(''),
        url('../../fonts/sarabun/sarabun-v13-latin-700italic.woff2') format('woff2'),
        url('../../fonts/sarabun/sarabun-v13-latin-700italic.woff') format('woff'),
        url('../../fonts/sarabun/sarabun-v13-latin-700italic.ttf') format('truetype');
}

// Playfair Display
@font-face {
    font-family: 'PlayfairDisplay';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../../fonts/playfair/playfair-display-v30-latin-regular.woff2') format('woff2'),
        url('../../fonts/playfair/playfair-display-v30-latin-regular.woff') format('woff'),
        url('../../fonts/playfair/playfair-display-v30-latin-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'PlayfairDisplay';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../../fonts/playfair/playfair-display-v30-latin-700.woff2') format('woff2'),
        url('../../fonts/playfair/playfair-display-v30-latin-700.woff') format('woff'),
        url('../../fonts/playfair/playfair-display-v30-latin-700.ttf') format('truetype');
}

@font-face {
    font-family: 'PlayfairDisplay';
    font-style: italic;
    font-weight: 400;
    src: local(''),
        url('../../fonts/playfair/playfair-display-v30-latin-italic.woff2') format('woff2'),
        url('../../fonts/playfair/playfair-display-v30-latin-italic.woff') format('woff'),
        url('../../fonts/playfair/playfair-display-v30-latin-italic.ttf') format('truetype');
}

@font-face {
    font-family: 'PlayfairDisplay';
    font-style: italic;
    font-weight: 600;
    src: local(''),
        url('../../fonts/playfair/playfair-display-v30-latin-600italic.woff2') format('woff2'),
        url('../../fonts/playfair/playfair-display-v30-latin-600italic.woff') format('woff'),
        url('../../fonts/playfair/playfair-display-v30-latin-600italic.ttf') format('truetype');
}

// Placeholders -----------------------
%heading {
  font-weight: 700;
  letter-spacing: -0.1rem;
  margin: 1rem 0;
  display: block;
}
// ------------------------------------

.heading2Xl {
  @extend %heading;
  font-size: 5rem;
  line-height: 1.2;
}

.headingXl {
  @extend %heading;
  font-size: 4rem;
  line-height: 1.4;
}

.headingLg {
  @extend %heading;
  font-size: 3.2rem;
  line-height: 1.6;
}

.headingMd {
  @extend %heading;
  font-size: 2.6rem;
  line-height: 1.6;
}

.headingSm {
  @extend %heading;
  font-size: 2rem;
  line-height: 1.8;
}