.blogForm {
  & input, textarea {
    margin: 0.5rem auto;
    padding: 1rem;
    width: 100%;
  }
  & textarea {
    min-height: 20rem;
  }
  & input[type="submit"] {
    max-width: 150px;
  }
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 750px) {
  .blogForm {
    & input, textarea {
      width: 80%;
      margin: 0 auto;
    }
  }
}
