.formContainer {
  & input {
    padding: 0.5rem;
    margin: 0.5rem auto;
  }
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.login, .signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  max-width: 600px;

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  input {
    margin: 0 0 15px 0;
  }

  input[type="submit"] {
    margin-top: 10px;
    max-width: 200px;
  }
}
