.formContainer {
  & input {
    padding: 0.5rem;
    margin: 0.5rem auto;
  }
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.login, .signup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 550px) {
  .formContainer {
    grid-template-columns: 1fr;
  }
}