@import './global.scss';

body,
body[data-theme="light"] {
  --color-page-background: #{$theme-white};
  --color-text: #{$theme-black};
  --color-subtext: #{$theme-gray};
  --color-shadow: #{$theme-lightgray};
  --color-primary-accent: #{$theme-green-1};
  --color-secondary-accent: #{$theme-yellow};
}

body[data-theme="dark"] {
  --color-page-background: #{$theme-black};
  --color-text: #{$theme-white};
  --color-subtext: #{$theme-lightgray};
  --color-shadow: #{$theme-gray};
  --color-primary-accent: #{$theme-green-1};
  --color-secondary-accent: #{$theme-gold};
}

body {
  margin: 0 auto;
  height: 100%;
}

html {
  height: 100%;
}