
// Text Themes
$text-light-2: #999999;
$text-light-1: #777777;
$text-medium-2: #555555;
$text-medium-1: #333333;
$text-dark-2: #111111;
$text-dark-1: #000000;

// media query variables
$small-phone: "screen and (max-width : 320px)";
$medium-phone: "screen and (max-width: 400px)";
$large-phone: "screen and (max-width: 500px)";
$tablet: "screen and (max-width: 1100px)";


// font declarations
@font-face {
  font-family: "Sarabun-Regular";
  src: local("Sarabun-Regular"),
    url("../fonts/Sarabun-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: local("PlayfairDisplay-Regular"),
    url("../fonts/static/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
}

