// More themes
$theme-green-1: #4b7f52ff;
$theme-green-2: #5d7334;
$theme-yellow: #ffd639ff;
$theme-gold: #d99129;
$theme-offwhite: #f5f5f5ff;
$theme-white: #ffffff;
$theme-lightgray: #c6d3c7;
$theme-gray: #5d635d;
$theme-black: #161718;